@import "../../styles/global.scss";

.quiz-container {
  @include flex-box($direction: column);
  @include max-size-vp();

  .question-index {
    font-size: 1.5rem;
  }

  .question {
    width: 70vw;
    font-size: 1.2rem;
    text-align: justify;
  }

  main {
    @include flex-box($direction: column);
    padding: 1rem 2rem;
    width: 60%;

    ul {
      @include flex-box($direction: column);
      gap: 1.5rem;
      width: 100%;

      text-align: justify;
      list-style-type: none;
      font-size: 1rem;

      background: rgba(33, 34, 44, 0.25);
      box-shadow: 0 8px 32px 0 rgba(50, 51, 65, 0.37);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);

      padding: 2rem;
    }

    .btn-next {
      align-self: flex-end;
      box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.7);
      background: $purple;
      border-radius: 10px;
      font-size: 1.2rem;
      width: 4rem;
      height: 3rem;

      transition: all 0.3s ease-in-out;

      &:hover {
        filter: brightness(0.8);
      }
    }
  }
}
